.test{
  display: none;
}

.btn {
  background-color: #c64427;
  width: 200px;
  height: 90px;
}

.jumbotron {
  text-align: center;
}

#answer1{
  display: none;
}

#answer2{
  display: none;
}

#answer3{
  display: none;
}

#answer4{
  display: none;
}

#answer5{
  display: none;
}
