.test{
  display: none;
}

.btn {
  background-color: #c64427;
  width: 200px;
  height: 90px;
}

.jumbotron {
  text-align: center;
}

#btn2{
  display: none;
  background-color: #d88629;
}

.match {
  display:none;
}
#header{
  border: 10px solid #71b570;
  width: 250px;
}
